# Ngày 26: SQL
https://drive.google.com/file/d/1PwVzLvtSrQrDG9Q1_nJLsC17HtuDGi3F/view

# Bước 1: Tạo và kết nối cơ sở dữ liệu

In [27]:
import sqlite3

# Kết nối tới cơ sở dữ liệu SQLite (tạo mới nếu chưa có)
conn = sqlite3.connect('clothing_store.db')
cursor = conn.cursor()

print("Connected to SQLite")

Connected to SQLite

# Bước 2: Tạo các bảng trong cơ sở dữ liệu

In [28]:
# Tạo bảng Category
cursor.execute('''
CREATE TABLE IF NOT EXISTS Category (
    Id INTEGER PRIMARY KEY AUTOINCREMENT,
    Name TEXT NOT NULL,
    Status BOOLEAN
);
''')

# Tạo bảng Product
cursor.execute('''
CREATE TABLE IF NOT EXISTS Product (
    Id INTEGER PRIMARY KEY AUTOINCREMENT,
    Name TEXT NOT NULL,
    Status BOOLEAN,
    Price REAL,
    SalePrice REAL,
    CreatedDate DATE,
    CategoryId INTEGER,
    FOREIGN KEY (CategoryId) REFERENCES Category(Id)
);
''')

# Tạo bảng Customer
cursor.execute('''
CREATE TABLE IF NOT EXISTS Customer (
    Id INTEGER PRIMARY KEY AUTOINCREMENT,
    Name TEXT NOT NULL,
    Email TEXT,
    Phone TEXT,
    Address TEXT,
    CreatedDate DATE,
    Gender BOOLEAN,
    BirthDay DATE
);
''')

# Tạo bảng Orders
cursor.execute('''
CREATE TABLE IF NOT EXISTS Orders (
    Id INTEGER PRIMARY KEY AUTOINCREMENT,
    CustomerId INTEGER NOT NULL,
    Status BOOLEAN,
    OrderDate DATETIME,
    FOREIGN KEY (CustomerId) REFERENCES Customer(Id)
);
''')

# Tạo bảng OrderDetail
cursor.execute('''
CREATE TABLE IF NOT EXISTS OrderDetail (
    OrderId INTEGER NOT NULL,
    ProductId INTEGER NOT NULL,
    Quantity INTEGER NOT NULL,
    Price REAL NOT NULL,
    PRIMARY KEY (OrderId, ProductId),
    FOREIGN KEY (OrderId) REFERENCES Orders(Id),
    FOREIGN KEY (ProductId) REFERENCES Product(Id)
);
''')

conn.commit()

print("Tables created successfully")

Tables created successfully

# Bước 3: Thêm dữ liệu mẫu vào các bảng

In [29]:
# 1. Dữ liệu mẫu cho bảng Category:
categories = [
    ('Quần áo nam', True),
    ('Quần áo nữ', True),
    ('Phụ kiện', True),
    ('Giày dép', True),
    ('Khác', True)
]

cursor.executemany('''
INSERT INTO Category (Name, Status)
VALUES (?, ?);
''', categories)

conn.commit()

print("Sample data added to Category table")

Sample data added to Category table

In [30]:
# 2. Dữ liệu mẫu cho bảng Product:
products = [
    ('Áo sơ mi nam', True, 300000, 270000, '2024-08-01', 1),
    ('Quần tây nam', True, 500000, 450000, '2024-08-02', 1),
    ('Đầm nữ', True, 600000, 540000, '2024-08-03', 2),
    ('Giày cao gót', True, 700000, 630000, '2024-08-04', 4),
    ('Mũ lưỡi trai', True, 150000, 135000, '2024-08-05', 3),
    ('Thắt lưng da', True, 250000, 225000, '2024-08-06', 3),
    ('Áo phông nữ', True, 200000, 180000, '2024-08-07', 2),
    ('Giày thể thao nam', True, 800000, 720000, '2024-08-08', 4),
    ('Túi xách nữ', True, 1200000, 1080000, '2024-08-09', 3),
    ('Váy dạ hội', True, 1500000, 1350000, '2024-08-10', 2),
    ('Áo khoác nam', True, 900000, 810000, '2024-08-11', 1),
    ('Áo len nữ', True, 400000, 360000, '2024-08-12', 2),
    ('Quần jean nam', True, 600000, 540000, '2024-08-13', 1),
    ('Đồng hồ đeo tay', True, 2000000, 1800000, '2024-08-14', 3),
    ('Kính râm', True, 350000, 315000, '2024-08-15', 3)
]

cursor.executemany('''
INSERT INTO Product (Name, Status, Price, SalePrice, CreatedDate, CategoryId)
VALUES (?, ?, ?, ?, ?, ?);
''', products)

conn.commit()

print("Sample data added to Product table")

Sample data added to Product table

In [31]:
# 3. Dữ liệu mẫu cho bảng Customer:
customers = [
    ('Nguyễn Văn A', 'nguyenvana@example.com', '0123456789', '123 Đường A, Hà Nội', '2024-08-01', True, '1990-01-01'),
    ('Trần Thị B', 'tranthib@example.com', '0987654321', '456 Đường B, TP.HCM', '2024-08-02', False, '1992-05-10'),
    ('Lê Văn C', 'levanc@example.com', '0112233445', '789 Đường C, Đà Nẵng', '2024-08-03', True, '1988-11-20')
]

cursor.executemany('''
INSERT INTO Customer (Name, Email, Phone, Address, CreatedDate, Gender, BirthDay)
VALUES (?, ?, ?, ?, ?, ?, ?);
''', customers)

conn.commit()

print("Sample data added to Customer table")

Sample data added to Customer table

In [32]:
# 4. Dữ liệu mẫu cho bảng Orders:
orders = [
    (1, True, '2024-08-05 10:00:00'),
    (2, True, '2024-08-06 11:00:00'),
    (3, True, '2024-08-07 12:00:00')
]

cursor.executemany('''
INSERT INTO Orders (CustomerId, Status, OrderDate)
VALUES (?, ?, ?);
''', orders)

conn.commit()

print("Sample data added to Orders table")

Sample data added to Orders table

In [37]:
# 5. Dữ liệu mẫu cho bảng OrderDetail:
order_details = [
    (1, 1, 2, 540000),  # OrderId 1 - ProductId 1
    (1, 2, 1, 450000),  # OrderId 1 - ProductId 2
    (2, 3, 1, 540000),  # OrderId 2 - ProductId 3
    (2, 5, 3, 405000),  # OrderId 2 - ProductId 5
    (3, 4, 1, 630000),  # OrderId 3 - ProductId 4
    (3, 6, 2, 450000)   # OrderId 3 - ProductId 6
]

# Chèn dữ liệu vào bảng OrderDetail, chỉ khi cặp OrderId và ProductId chưa tồn tại
for detail in order_details:
    try:
        cursor.execute('''
        INSERT INTO OrderDetail (OrderId, ProductId, Quantity, Price)
        VALUES (?, ?, ?, ?);
        ''', detail)
    except sqlite3.IntegrityError:
        print(f"Skipped duplicate entry for OrderId {detail[0]} and ProductId {detail[1]}")

conn.commit()

print("Sample data added to OrderDetail table without duplicates")

Skipped duplicate entry for OrderId 1 and ProductId 1
Skipped duplicate entry for OrderId 1 and ProductId 2
Skipped duplicate entry for OrderId 2 and ProductId 3
Skipped duplicate entry for OrderId 2 and ProductId 5
Skipped duplicate entry for OrderId 3 and ProductId 4
Skipped duplicate entry for OrderId 3 and ProductId 6
Sample data added to OrderDetail table without duplicates

# Bước 4: Thực hiện các truy vấn SQL

In [38]:
# 1. Truy vấn danh sách sản phẩm sắp xếp giảm dần theo giá:
cursor.execute('''
SELECT p.Id, p.Name, p.Price, p.SalePrice, p.Status, c.Name AS CategoryName, p.CreatedDate
FROM Product p
JOIN Category c ON p.CategoryId = c.Id
ORDER BY p.Price DESC;
''')

products = cursor.fetchall()
for product in products:
    print(product)

(14, 'Đồng hồ đeo tay', 2000000.0, 1800000.0, 1, 'Phụ kiện', '2024-08-14')
(29, 'Đồng hồ đeo tay', 2000000.0, 1800000.0, 1, 'Phụ kiện', '2024-08-14')
(44, 'Đồng hồ đeo tay', 2000000.0, 1800000.0, 1, 'Phụ kiện', '2024-08-14')
(10, 'Váy dạ hội', 1500000.0, 1350000.0, 1, 'Quần áo nữ', '2024-08-10')
(25, 'Váy dạ hội', 1500000.0, 1350000.0, 1, 'Quần áo nữ', '2024-08-10')
(40, 'Váy dạ hội', 1500000.0, 1350000.0, 1, 'Quần áo nữ', '2024-08-10')
(9, 'Túi xách nữ', 1200000.0, 1080000.0, 1, 'Phụ kiện', '2024-08-09')
(24, 'Túi xách nữ', 1200000.0, 1080000.0, 1, 'Phụ kiện', '2024-08-09')
(39, 'Túi xách nữ', 1200000.0, 1080000.0, 1, 'Phụ kiện', '2024-08-09')
(11, 'Áo khoác nam', 900000.0, 810000.0, 1, 'Quần áo nam', '2024-08-11')
(26, 'Áo khoác nam', 900000.0, 810000.0, 1, 'Quần áo nam', '2024-08-11')
(41, 'Áo khoác nam', 900000.0, 810000.0, 1, 'Quần áo nam', '2024-08-11')
(8, 'Giày thể thao nam', 800000.0, 720000.0, 1, 'Giày dép', '2024-08-08')
(23, 'Giày thể thao nam', 800000.0, 720000.0, 1, 'Giày dép', '2024-08-08')
(38, 'Giày thể thao nam', 800000.0, 720000.0, 1, 'Giày dép', '2024-08-08')
(4, 'Giày cao gót', 700000.0, 630000.0, 1, 'Giày dép', '2024-08-04')
(19, 'Giày cao gót', 700000.0, 630000.0, 1, 'Giày dép', '2024-08-04')
(34, 'Giày cao gót', 700000.0, 630000.0, 1, 'Giày dép', '2024-08-04')
(3, 'Đầm nữ', 600000.0, 540000.0, 1, 'Quần áo nữ', '2024-08-03')
(13, 'Quần jean nam', 600000.0, 540000.0, 1, 'Quần áo nam', '2024-08-13')
(18, 'Đầm nữ', 600000.0, 540000.0, 1, 'Quần áo nữ', '2024-08-03')
(28, 'Quần jean nam', 600000.0, 540000.0, 1, 'Quần áo nam', '2024-08-13')
(33, 'Đầm nữ', 600000.0, 540000.0, 1, 'Quần áo nữ', '2024-08-03')
(43, 'Quần jean nam', 600000.0, 540000.0, 1, 'Quần áo nam', '2024-08-13')
(2, 'Quần tây nam', 500000.0, 450000.0, 1, 'Quần áo nam', '2024-08-02')
(17, 'Quần tây nam', 500000.0, 450000.0, 1, 'Quần áo nam', '2024-08-02')
(32, 'Quần tây nam', 500000.0, 450000.0, 1, 'Quần áo nam', '2024-08-02')
(12, 'Áo len nữ', 400000.0, 360000.0, 1, 'Quần áo nữ', '2024-08-12')
(27, 'Áo len nữ', 400000.0, 360000.0, 1, 'Quần áo nữ', '2024-08-12')
(42, 'Áo len nữ', 400000.0, 360000.0, 1, 'Quần áo nữ', '2024-08-12')
(15, 'Kính râm', 350000.0, 315000.0, 1, 'Phụ kiện', '2024-08-15')
(30, 'Kính râm', 350000.0, 315000.0, 1, 'Phụ kiện', '2024-08-15')
(45, 'Kính râm', 350000.0, 315000.0, 1, 'Phụ kiện', '2024-08-15')
(1, 'Áo sơ mi nam', 300000.0, 270000.0, 1, 'Quần áo nam', '2024-08-01')
(16, 'Áo sơ mi nam', 300000.0, 270000.0, 1, 'Quần áo nam', '2024-08-01')
(31, 'Áo sơ mi nam', 300000.0, 270000.0, 1, 'Quần áo nam', '2024-08-01')
(6, 'Thắt lưng da', 250000.0, 225000.0, 1, 'Phụ kiện', '2024-08-06')
(21, 'Thắt lưng da', 250000.0, 225000.0, 1, 'Phụ kiện', '2024-08-06')
(36, 'Thắt lưng da', 250000.0, 225000.0, 1, 'Phụ kiện', '2024-08-06')
(7, 'Áo phông nữ', 200000.0, 180000.0, 1, 'Quần áo nữ', '2024-08-07')
(22, 'Áo phông nữ', 200000.0, 180000.0, 1, 'Quần áo nữ', '2024-08-07')
(37, 'Áo phông nữ', 200000.0, 180000.0, 1, 'Quần áo nữ', '2024-08-07')
(5, 'Mũ lưỡi trai', 150000.0, 135000.0, 1, 'Phụ kiện', '2024-08-05')
(20, 'Mũ lưỡi trai', 150000.0, 135000.0, 1, 'Phụ kiện', '2024-08-05')
(35, 'Mũ lưỡi trai', 150000.0, 135000.0, 1, 'Phụ kiện', '2024-08-05')

In [17]:
# 2. Truy vấn danh sách các danh mục sản phẩm:
cursor.execute('''
SELECT c.Id, c.Name, COUNT(p.Id) AS TotalProduct, c.Status
FROM Category c
LEFT JOIN Product p ON c.Id = p.CategoryId
GROUP BY c.Id, c.Name, c.Status;
''')

categories = cursor.fetchall()
for category in categories:
    print(category)

(1, 'Quần áo nam', 4, 1)
(2, 'Quần áo nữ', 4, 1)
(3, 'Phụ kiện', 5, 1)
(4, 'Giày dép', 2, 1)
(5, 'Khác', 0, 1)
(6, 'Quần áo nam', 0, 1)
(7, 'Quần áo nữ', 0, 1)
(8, 'Phụ kiện', 0, 1)
(9, 'Giày dép', 0, 1)
(10, 'Khác', 0, 1)

In [18]:
# 3. Truy vấn danh sách khách hàng với tuổi và giới tính:
cursor.execute('''
SELECT Id, Name, Email, Phone, Address, CreatedDate, Gender,
       BirthDay,
       (strftime('%Y', 'now') - strftime('%Y', BirthDay)) AS Age
FROM Customer;
''')

customers = cursor.fetchall()
for customer in customers:
    print(customer)

(1, 'Nguyễn Văn A', 'nguyenvana@example.com', '0123456789', '123 Đường A, Hà Nội', '2024-08-01', 1, '1990-01-01', 34)
(2, 'Trần Thị B', 'tranthib@example.com', '0987654321', '456 Đường B, TP.HCM', '2024-08-02', 0, '1992-05-10', 32)
(3, 'Lê Văn C', 'levanc@example.com', '0112233445', '789 Đường C, Đà Nẵng', '2024-08-03', 1, '1988-11-20', 36)

# Bước 5: Đóng kết nối

In [39]:
conn.close()
print("SQLite connection is closed")

SQLite connection is closed